div.document{
	margin: 30px !important;
	width : initial !important;
}

div.body{
	max-width: none !important;
}

dl.method{
	margin-top: 2em;
}

p{
	margin-block-start: 0em !important;
    margin-block-end: 0em !important;
}

.simple{
	margin-top: 0 !important;
}

.field-odd{
	margin-top: 0 !important;
}

dl.field-list > dt {
	flex-basis : auto !important;
}
